*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
font-size: 20px;
}
.container{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 20px;
background: linear-gradient(to right, red,green);
}
.left{
    flex-basis: 30%;
}
.right{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   grid-auto-rows: 120px;
}
.left h2{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.left p{
    color: #fff;
    margin-top: 10px;
    text-align: center;
}
.child-imgs{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all ease 0.1s;
    cursor: pointer;
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
.child-imgs:hover{
    background-position: center;
    background-color: #fff;
    box-shadow: 0 0 #fff;
}